In [1]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn import svm
from scipy.stats import zscore

In [2]:
Dataset_final_df = pd.read_csv("Dataset_final.csv")

In [3]:
Dataset_final_df.shape

(355, 7)

In [4]:
Dataset_final_df.head()

,ImgID,BodySize,Complexion,Occasion,DressColor,DressDesign,Matching
0,photo-1492447166138-50c3889fccb1,L,Very Fair,Casual,Black&White,Cuban Collar Shirt,Y
1,Img_4,XL,Fair,Casual,Blue&White,Linen Shirt,N
2,image_51,M,Medium,Casual,LightBlue,Overshirt,N
3,image_52,M,Very Fair,Casual,Muddy Brown,Linen Shirt,Y
4,image_53,S,Fair,Wedding,White&Pink,Overshirt,Y

In [5]:
Dataset_final_df.dtypes

ImgID          object
BodySize       object
Complexion     object
Occasion       object
DressColor     object
DressDesign    object
Matching       object
dtype: object

In [6]:
Dataset_final_df.describe().transpose()

            count unique                 top freq
ImgID         355    278  photo-152161667627    7
BodySize      355      6                  XL  154
Complexion    355      6                Fair   94
Occasion      355      8              Casual  141
DressColor    355     75               Black   45
DressDesign   355     27         Linen Shirt   69
Matching      355      2                   Y  229

In [7]:
Dataset_final_df['Matching'].value_counts()

Y    229
N    126
Name: Matching, dtype: int64

In [8]:
Dataset_final_df = Dataset_final_df.drop(labels = "ImgID", axis = 1)

In [9]:
Dataset_final_df['BodySize'] =Dataset_final_df.BodySize.astype('category')
Dataset_final_df['Complexion'] = Dataset_final_df.Complexion.astype('category')
Dataset_final_df['Occasion'] = Dataset_final_df.Occasion.astype('category')
Dataset_final_df['DressColor'] = Dataset_final_df.DressColor.astype('category')
Dataset_final_df['DressDesign'] = Dataset_final_df.DressDesign.astype('category')
Dataset_final_df['Matching'] = Dataset_final_df.Matching.astype('category')
Dataset_final_df.dtypes

BodySize       category
Complexion     category
Occasion       category
DressColor     category
DressDesign    category
Matching       category
dtype: object

In [10]:
Dataset_final_df.groupby(["Matching"]).count()

          BodySize  Complexion  Occasion  DressColor  DressDesign
Matching
N              126         126       126         126          126
Y              229         229       229         229          229

In [11]:
Dataset_final_df.shape

(355, 6)

In [12]:
Dataset_final_df=pd.get_dummies(Dataset_final_df)
Dataset_final_df

,BodySize_L,BodySize_M,BodySize_S,BodySize_XL,BodySize_XS,BodySize_XXL,Complexion_Brown,Complexion_Dark Brown,Complexion_Fair,Complexion_Medium,...,DressDesign_Overshirt,DressDesign_Oxford Button-Down Shirt,DressDesign_Polo Shirt,DressDesign_Round Neck,DressDesign_Sflannel Shirt,DressDesign_Sport jacket,DressDesign_T Shirt,DressDesign_Winter Wear,Matching_N,Matching_Y
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,0,1,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
351,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
352,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
353,0,0,0,1,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
354,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [13]:
Dataset_final_df_dummy=pd.get_dummies(Dataset_final_df,drop_first=True)
Dataset_final_df_dummy

,BodySize_L,BodySize_M,BodySize_S,BodySize_XL,BodySize_XS,BodySize_XXL,Complexion_Brown,Complexion_Dark Brown,Complexion_Fair,Complexion_Medium,...,DressDesign_Overshirt,DressDesign_Oxford Button-Down Shirt,DressDesign_Polo Shirt,DressDesign_Round Neck,DressDesign_Sflannel Shirt,DressDesign_Sport jacket,DressDesign_T Shirt,DressDesign_Winter Wear,Matching_N,Matching_Y
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,0,1,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
351,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
352,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
353,0,0,0,1,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
354,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [22]:
clf = svm.SVC()

In [14]:
X = np.array(Dataset_final_df)
X

array([[1, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 1, 0, ..., 0, 1, 0],
       ...,
       [1, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1]], dtype=uint8)

In [15]:
y = np.array(Dataset_final_df)
y

array([[1, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 1, 0, ..., 0, 1, 0],
       ...,
       [1, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1]], dtype=uint8)

In [29]:
array=Dataset_final_df.values
x=array[:,0:5]
y=array[:,5]

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=10)

In [31]:
X_train.shape

(248, 124)

In [32]:
X_test.shape

(107, 124)

In [33]:
clf.fit(X_train , y_train)

SVC()

In [34]:
clf.score(X_test, y_test)

1.0

In [35]:
y_pred = clf.predict(X_test)
pd.crosstab(y_test, y_pred)

col_0   0   1
row_0
0      92   0
1       0  15